{% extends 'base.html' %}

{% load static %}

{% block content %}
<form action="" method="POST">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        {% if form.non_field_errors %}
        <ul class="list-unstyled">
          {% for err in form.non_field_errors %}
          <li class="alert alert-danger">{{ err }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% for field in form %}
          {{ field }}
          {{ field.errors }}
          <hr>
        {% endfor %}
        <button type="submit" class="btn btn-success btn-lg btn-block">ログイン</button>
        <input type="hidden" name="next" value="{{ next }}">
        {% csrf_token %}
      </div>
    </div>
  </div>
</form>
{% endblock %}
